body {
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;
}

.header, .content-one, .content-two, .content-three, .content-four {
    padding-left: 150px;
    padding-right: 150px;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

a {
    color: #f9faf8;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content-one {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

h1, h2 {
    margin: 0px;
}

.this-website {
    width: 50%;
    padding-right: 50px;
}

.content-one img {
    width: 520px;
    height: 250px;
    background-color: #e7e7e78a;
}

button {
    background-color: #3882f6;
    font-size: 18px;
    color: white;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: none;
    border-radius: 7px;
}

.content-two {
    background-color: white;
    color: #1f2937;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    padding: 50px;
}

.images {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.image {
    width: 158px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

.image img{
    border-width: 4px;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    width: 150px;
    height: 150px;
}

.content-three {
    background-color: #e5e7eb;
    color: #1f2937;
    padding-top: 100px;
    padding-bottom: 82px;
}

.quote span {
    font-size: 28px;
}
.quote p {
    display: flex;
    margin: 0px;
    justify-content: flex-end;
    font-weight: bold;
}

.content-four {
    display: flex;
    justify-content: center;
}

.bluebox {
    background-color: #3882f6;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 480px;
}

.bluebox button {
    border-color: white;
    border-style: solid;
    border-width: 2px;
    margin: 0px;
    display: flex;
    flex-shrink: 0;
}

.bluebox p {
    margin: 0px;
    font-size: 26px;
    font-weight: bold;
    flex: 0;
}

.footer {
    background-color: #1f2937;
    text-align: center;
    padding: 20px;
    font-weight: 300;
}